---
layout: default
pagination: 
    enabled: true
---
<div class="content list">
  {% if site.posts.size == 0 %}
      <h2> No posts found =( </h2>
  {% else %}

    {% for post in paginator.posts %}
      <div class="list-item">
          <h2 class="list-post-title">
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <h4><b>{{ post.categories }}</b></h4>
          <div class="list-post-date">
              <time>{{ post.date | date_to_string }}</time>
              <p>{{ post.description }} <a href="{{ post.url | prepend: site.baseurl }}">Saber Mais...</a></p>
              <p>
                <b>Tags:</b>
                {% for tags in post.tags %}
                  <span>{{ tags }}</span>
                {% endfor %}
              </p>
          </div> 
      </div>
      <hr>
    {% endfor %}
    {% include pagination.html %}
  {% endif %}
</div>